<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="post_write" content="write">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/dist/js/site.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic">
    <!-- 게시글 추가하기 -->
    <script type="text/javascript">
        function writeCheck() {
            var form = document.writeform;

            if (!form.userID.value) {
                alert("이름을 적어주세요");
                form.userPW.focus();
                return;
            }
            if (!form.title.value) {
                alert("제목을 적어주세요");
                form.title.focus();
                return;
            }
            if (!form.content.value) {
                alert("내용을 적어주세요");
                form.content.focus();
                return;
            }
            form.submit();
        }
    </script>
</head>

<body>
<div class="container">
    <form name="writeform" method="post" action="{% url "blog:DoWriteBoard_admin" %}">{% csrf_token %}
        <div class="panel-body" align="center">
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">ADMIN_ID</label>
                    <div class="col-md-10">
                        <input type="text" placeholder="admin_id" class="form-control" name="userID" maxlength="20">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">ADMIN_PW</label>
                    <div class="col-md-10">
                        <input type="password" placeholder="admin_pw" class="form-control" name="userPW" maxlength="20">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">NOTICE</label>
                    <div class="col-md-10">
                        <input type="text" placeholder="notice" class="form-control" name="title" maxlength="50">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">내용</label>
                    <textarea class="form-control" placeholder="content" rows="10" cols="30"
                              name="content" spellcheck="false"></textarea>
                </div>
            </form>
        </div>
        <div class="form-group" align="right">
            <button class="btn btn-info" OnClick="javascript:history.back();">뒤로</button>
            <button class="btn btn-info" OnClick="javascript:writeCheck();">제출</button>
        </div>
    </form>
</div>
</body>
</html>