<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="post_write" content="write">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/dist/js/site.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- 게시글 추가하기 -->
    <script type="text/javascript">
        function writeCheck() {
            var form = document.writeform;
            if (!form.userID.value) {
                alert("이름을 적어주세요");
                form.userPW.focus();
                return;
            }
            if (!form.title.value) {
                alert("제목을 적어주세요");
                form.title.focus();
                return;
            }
            if (!form.content.value) {
                alert("내용을 적어주세요");
                form.content.focus();
                return;
            }

            form.submit();
        }
    </script>
</head>

<body>
<div class="container">
    {% for post in posts %}
        <form name="writeform" method="post" action="{% url "blog:DoWriteBoardAlter_admin_save" post.id %}">{% csrf_token %}
        <div class="panel-body" align="center">
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">USER_ID</label>
                    <div class="col-md-10">
                        <input type="text" placeholder="user_id" class="form-control" name="userID"
                               value="{{ post.user_id }}" maxlength="20">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">USER_PW</label>
                    <div class="col-md-10">
                        <input type="password" placeholder="user_pw" class="form-control" name="userPW"
                               value="{{ post.user_pw }}" maxlength="20">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">TITLE</label>
                    <div class="col-md-10">
                        <input type="text" placeholder="title" class="form-control" name="title"
                               value="{{ post.title }}" maxlength="50">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">내용</label>
                    <textarea class="form-control" placeholder="content" rows="10" cols="30"
                              name="content" spellcheck="false">{{ post.content }}</textarea>
                </div>
            </form>
        </div>
        <div class="form-group" align="right">

            <button class="btn btn-info" OnClick="javascript:history.back();">뒤로</button>
            <button class="btn btn-info" OnClick="javascript:writeCheck();">제출</button>
        </div>

    </form>
 <a href='{% url "blog:post_delete_admin" post.id %}' class="btn btn-info pull-left">삭제하기</a>
      {% endfor %}
</div>
</body>
</html>