<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            text-align: center;
        }
        button, span{
            font-size: 3rem;
        }
        canvas, video {
            background-color: black;
            width: 100%;
            height: 100%;
        }
    </style>
    <title>Hologram project</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<script async src="https://docs.opencv.org/3.4/opencv.js"></script>
<body onload="onLoad()">
    <video id="video" autoplay muted></video>
    <button id="record" onclick="record()" disabled>녹화</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <span id="timer">8초</span>
    <form action="{% url "blog:saveToDB" %}" method="POST">{% csrf_token %}
        <button id="send" onclick="sendData()" disabled>전송</button>
        <input type="hidden" name="result_data" value="" id="js_data_input">
    </form>
    <canvas id="canvas"></canvas>
</body>
<script>
    let front = false
    let width = 640
    let height = 480
    const fps = 30
    const capture_time = 8
    const video = document.getElementById('video')
    const canvas = document.getElementById('canvas')
    let src, cap, start_date
    let frames = []

    function onLoad() {
        video.width = width
        video.height = height
        canvas.width = width
        canvas.height = height
        toggleStream()
    }

    function toggleStream() {
        navigator.getUserMedia(
            {video: { facingMode: (front ? "user" : "environment"), width: width, height: height}, audio: false},
            function (stream){video.srcObject = stream; video.play()},
            function (err){console.log(err)}
        )
        document.getElementById('toggleStream').innerHTML = 'Stream 비활성화'
        document.getElementById('record').disabled = false
        document.getElementById('send').disabled = true
    }

    async function standby(time) {
        let context = canvas.getContext('2d')
        context.font = '160px Arial'
        context.fillStyle = 'white'

        for (; time >= 1; time--) {
            context.clearRect(0, 0, canvas.width, canvas.height)
            context.fillText(String(time), canvas.width / 2, canvas.height / 2)
            await sleep(1000)
        }
    }

    async function record() {
        document.getElementById('toggleStream').disabled = true
        document.getElementById('record').disabled = true
        document.getElementById('send').disabled = false
        await standby(3)

        src = new cv.Mat(height, width, cv.CV_8UC4)
        cap = new cv.VideoCapture('video')
        start_date = Date.now()
        let audio = new Audio('/static/beep.mp3')

        recordVideo()
        for (let i = capture_time; i >= 0; i--) {
            audio.play()
            await sleep(1000)
        }
    }

    function recordVideo() {
        let begin = Date.now()
        cap.read(src)
        cv.imshow('canvas', src)
        frames.push(canvas.toDataURL('image/jpeg'))

        let passed_time = (Date.now() - start_date) / 1000
        document.getElementById('timer').textContent = String(Math.ceil(capture_time - passed_time)) + '초'
        if (passed_time >= capture_time) {
            src.delete()
            return
        }
        setTimeout(recordVideo, 1000 / fps - (Date.now() - begin))
    }

    function sendData() {
        document.getElementById('send').style.visibility = 'hidden'
        document.getElementById('js_data_input').value = frames
    }

    function sleep(ms) {
        return new Promise((r) => setTimeout(r, ms));
    }
</script>
</html>